
nav div .navbar-nav{
    color:gray;
}

nav div .a--tickets{
    color:#33a74e;
}
.a-fontSize--logo{
    font-size: 17px;
}

nav div .nav-link{
    font-size: 13px;
}
.nav--bg{
    background:#353a40;
}
.banner{
    height: 75vh;
}
.banner>img{
    height: 100%;
    object-fit: cover;
}
