@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
}
.section--banner{
    background-color: black;
}
.carousel{
 height: 610px;
 position: relative;
}

.carousel img{
   height: 610px;  
   object-fit: cover;
}

nav div .navbar-nav{
    color:gray;
}

nav div .a--tickets{
    color:#33a74e;
}
.a-fontSize--logo{
    font-size: 20px;
}

nav div .nav-link{
    font-size: 18px;
}
nav div .nav-link:hover{
    color:white;
}

nav div .a--tickets:hover{
    color:#49fd73;
}

.nav--bg{
    background:#353a40;
}

.texto{
    position:absolute;
    right: 10%;
    top:45%;
    text-shadow: #353a40;
} 

