@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");




*{
    box-sizing: border-box;
}

.img__logo--w{
    width: 95px;
}

.a_logo_size{
    width: 20vw;
}

nav div .navbar-nav{
    color:gray;
}

nav div .a--tickets{
    color:#33a74e;
}


nav div .nav-link:hover{
    color:white;
}

nav div .a--tickets:hover{
    color:#49fd73;
}

.nav--bg{
    background:#353a40;
}

.section--carusel{
    background-color: black;
}
.carousel{
 height: 610px;
 position: relative;
}

.carousel img{
   height: 610px;  
   object-fit: cover;
}

.carousel-control-prev{
    width: 7%;
}
.carousel-control-next{
    width: 7%;
}

.color__button--tickets{
    background-color:#33a74e;
}


.carusel-texto{
    position:absolute;
    right: 8%;
    top:40%;
    text-shadow: #353a40;
} 

.card__img--cover{
    width: 100%;  
   
}
.informacion__text--background{
    background-color:#353a40 ;
}
.underline__link{
    text-decoration:dashed;
}
.color__button--send{
    background-color: #96c93e;
    color: white;

} 
.color__button--send:hover{
    background-color: #33a74e;
    color: white;

} 

  

.footer--background{
    background:linear-gradient(to right, #1c3846 60%, #1f5271 );

} 

.footer--shadow{
    filter: drop-shadow(2px, 4px, 6px, white);
    -webkit-filter: drop-shadow(2px, 4px, 6px, white);
}

footer div{
    
    align-content: center;
}
footer a{
    font-size: 1rem;
    text-decoration: none;
    color: gray;
    transition: .3 all;
}

footer a:hover{
    
    color:white;
    transition: .5 all;

}

    